@model DepartmentCreateViewModel
@{
    ViewData["Title"] = "Edit department";
}

<div class="container p-4">
    @if (ViewBag.Message != null)
    {
        <div class="alert-success">
            @ViewBag.Message
        </div>
    }
    <div class="p-4">
        <div class="col-md-12">
            <h3>Edit Department Information</h3>
        </div>
    </div>
    <div class="p-4">
        <div class="col-md-6">
            <form asp-controller="Department" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="DepartmentId" />
                <div class="mb-3">
                    <label asp-for="DepartmentName" class="form-label fw-bold"></label>
                    <input asp-for="DepartmentName" class="form-control" type="text" />
                    <span asp-validation-for="DepartmentName" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark">Update</button>
            </form>
        </div>
    </div>
</div>