@model EmployeeCreateViewModel
@{
    ViewData["Title"] = "Edit";
}

<div class="container p-4">
    @if(ViewBag.Message != null)
    {
        <div>
            @ViewBag.Message
        </div>
    }
    <div class="row p-4">
        <div class=" col-md-12">
            <h3>Edit Employee Details</h3>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-6">
            <form asp-controller="Employee" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="EmployeeId" />
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label fw-bold"></label>
                    <input asp-for="FirstName" class="form-control" type="text" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label fw-bold"></label>
                    <input asp-for="LastName" class="form-control" type="text" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DateOfBirth" class="form-label fw-bold"></label>
                    <input asp-for="DateOfBirth" class="form-control" type="date" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Gender" class="form-label fw-bold"></label>
                    <div class="d-flex">
                        <div class="form-check px-4">
                            <input asp-for="Gender" class="form-check-input" value="male" type="radio" id="GenderMale" name="Gender" />
                            <label class="form-check-label fw-bold" for="GenderMale">
                                Male
                            </label>
                        </div>
                        <div class="form-check px-4">
                            <input asp-for="Gender" class="form-check-input" value="female" type="radio" id="GenderFemale" name="Gender" />
                            <label class="form-check-label fw-bold" for="GenderFemale">
                                Female
                            </label>
                        </div>
                    </div>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label fw-bold"></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label fw-bold"></label>
                    <input asp-for="PhoneNumber" class="form-control" type="tel" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="form-label fw-bold"></label>
                    <textarea asp-for="Address" class="form-control" rows="3"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DepartmentId" class="form-label fw-bold"></label>
                    <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.Departments">
                        <option value="">--Select--</option>
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input asp-for="IsActive" class="form-check-input" type="checkbox" id="isActive">
                        <label asp-for="IsActive" class="form-check-label fw-bold">Mark as Active</label>
                    </div>
                    <span asp-validation-for="IsActive" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-dark">Update</button>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
